on:
  fork:
  push:
    branches: [ main ]
  issues:
    types: [ opened ]
  issue_comment:
    types: [ created ]
  pull_request_target:
    types: [ opened ]
  pull_request_review_comment:
    types: [ created ]

jobs:

  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: EddieHubCommunity/gh-action-community/src/welcome@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Hello @${{ github.actor }}, <h3>It''s great having you contribute to this project</h3> Welcome to the community :nerd_face:'
          pr-message: 'Hello @${{ github.actor }}, <h3>It''s great having you contribute to this project</h3> Welcome to the community :nerd_face:'
